.userCardContainer {
    display: flex;
    width: 100%;
    align-items: center;
    height: 80px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0px 0px 14px -4px rgba(0, 0, 0, 0.25);
    margin-bottom: 20px;
}

.userCardContainer p {
    color: #000;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.userCardContainer img {
    width: 30px;
    height: 30px;
    border-radius: 15px;
}

.userCardContainer .SerialNoContainer {
    display: flex;
    justify-content: center;
    width: 10%;
}

.userCardContainer .UserNameContainer {
    display: flex;
    justify-content: center;
    width: 20%;
}

.userCardContainer .FarmNameContainer {
    display: flex;
    justify-content: center;
    width: 20%;
}

.userCardContainer .LocationContainer {
    display: flex;
    justify-content: center;
    width: 20%;
}

.userCardContainer .ImageContainer {
    display: flex;
    justify-content: center;
    width: 20%;
}

.userCardContainer .OptionContainer {
    display: flex;
    justify-content: center;
    width: 10%;
}

.userCardContainer .MenuIcon:hover {
    cursor: pointer;
    transform: scale(1.1);
}