.userCreateCardContainer{
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 80%;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.userCreateCardTopContainer{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100px;
}
.userCreateCardHeaddingContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 40px;
}
.userCreateCardHeaddingContainer h1{
    font-size: 28px;
    color: #076DFC;
}
.userCreateCardCloseButtonContainer{
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    padding-right: 40px;
}