.userCreateCardContainer {
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 80%;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.userCreateCardTopContainer {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100px;
}

.userCreateCardHeaddingContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 40px;
}

.userCreateCardHeaddingContainer h1 {
    font-size: 28px;
    color: #076DFC;
}

.userCreateCardCloseButtonIconContainer {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    padding-right: 40px;
}

.userCreateCardCloseIcon:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.userCreateCardInputsContianer {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
}

.userCreateCardInputsRowContainer {
    display: flex;
    flex-direction: row;
}

.userCreateCardInputsColumnContainer {
    margin: 10px;
}

.userCreateCardInputHeadding {
    font-size: 20px;
}

.userCreateCardInput {
    width: 350px;
    height: 24px;
}

.userCreateCardBottomButtonContainer {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    margin-right: 40px;
    height: 100px;
}

.userCreateCardCloseButtonContainer {
    margin-right: 10px;
}

.error {
    font-size: 14px;
    color: tomato;
}