.dashboardScreenContiner{
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
}
.dashboardScreenSideContainer{
    display: flex;
    flex-direction: column;
    width: 20%;
    height: 100%;
}
.dashboardScreenDetailsContainer{
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 100%;
    align-items: center;
    justify-content: center;
}