.dashboardScreenContiner{
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
    min-height:min-content;
    min-width: max-content;
}
.dashboardScreenSideContainer{
    display: flex;
    flex-direction: column;
    width: 20%;
    height: 100%;
    padding: 0 10px 0 20px;
}
.dashboardScreenDetailsContainer{
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 100%;
    padding: 0 20px 0 10px;
}