.textButtonContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

}
.textButtonContainer p{
    font-size: 20px;
    font-weight: 500;
}
.textButtonContainer:hover{
    cursor: pointer;
    transform: scale(1.01);
}