.loginScreenContainer{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    align-items: center;
    justify-content: center;
}
.loginScreenInputContainer{
    width: 500px;
    height: 550px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 4px 10px 1px rgba(1, 1, 1, .1);
}
.loginScreenInputContainerHeaddingContainer{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
    margin-bottom: 20px;
}
.loginScreenInputContainerHeaddingContainer{
    display: flex;
    color: #076DFC;
}
.loginScreenInputDataContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.loginScreenInputLabels{
    width: 400px;
    font-size: 20px;
}
.userNameInput{
    height: 40px;
    margin-bottom: 20px;
    border-radius: 5px;
    width: 400px;
    font-size: 20px;
    background-color: aliceblue;
}
.password{
    height: 40px;
    margin-bottom: 20px;
    border-radius: 5px;
    width: 400px;
    font-size: 20px;
    background-color: aliceblue;
}
.loginScreenForgotPassword{
    display: inline;
    text-align: end;
    font-size: 16px;
    width: 400px;
    margin: 10px 0 20px 0;
    color: #076DFC;
}
.loginScreenLoginButtonContainer{
    width: 300px;
}
.loginScreenForgotPassword:hover{
    cursor: pointer;
    color: #000000;
}