.userDetailsCardContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px 0 20px 0;
}

.userDetailsCardTopContainer {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100px;
}

.userDetailsCardTopHeadding {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.userDetailsCardTopHeadding h1 {
    padding-left: 40px;
    font-size: 28px;
    color: #076DFC;
}

.userDetailsCardCreateButtonContainer {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: end;
}

.userDetailsCardCreateButtonContainer {
    padding-right: 20px;
}

.userDetailsCardDetailsContainer {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 20px;
}

.userDetailsCardDetailsHeaddingContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 20px 10px 20px;
}

.userDetailsCardDetailsHeaddingContainer P {
    color: #000;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.userDetailsCardDetailsHeaddingContainer input {
    border-radius: 20px;
    border: 0px solid #000;
    background: #F5F5F5;
    width: 90%;
    height: 40px;
    flex-shrink: 0;
}

.userDetailsCardDetailsHeaddingContainer .serialNoContianer {
    display: flex;
    width: 10%;
    justify-content: center;
}

.userDetailsCardDetailsHeaddingContainer .userNameContainer {
    display: flex;
    width: 20%;
    justify-content: center;
}

.userDetailsCardDetailsHeaddingContainer .farmNameContainer {
    display: flex;
    width: 20%;
    justify-content: center;
}

.userDetailsCardDetailsHeaddingContainer .locationContainer {
    display: flex;
    width: 20%;
    justify-content: center;
}

.userDetailsCardDetailsHeaddingContainer .searchBarContainer {
    display: flex;
    width: 30%;
    justify-content: center;
}