.sidebarNavigationContainer{
    position: absolute;
    top: 0px;
    left: 0px;
    padding: 10px;
}
.sidebarDetailsContainer{
    position: absolute;
    top: 0px;
    right: 0px;
    padding: 10px;
}
