.iconButtonContainer{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: row;
}
.iconbuttonTextContiner{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.iconbuttonTextContiner p{
    margin: 0 0 0 10px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}
.iconButtonIconContainer{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}
.iconButtonContainer :hover{
    cursor: pointer;
}